h5 {
    color:white;
    margin-top:5px !important;
}

.home-logo{
    display: flex;
    min-width:20px;
    margin-top: auto;
    max-width: 110px;
    font-size: 20px;   
    border-radius: 5px;
    padding: 3px 3px 2px 3px;
    margin-bottom: 7px;
    
    margin-right: 20px;
    background-color: white;
}

