h5 {
    color:white;
    margin-top:5px !important;
}

.home{
    min-width:20px;
    max-width: 50px;
    font-size: 20px;   
    border-radius: 5px;
    padding: 3px;
    margin-right: 20px;
    background-color: white;
}

